.preNav{
  background-color: black;
  display: grid;
  grid-template-columns: 5fr 2fr;
  color: white;
}
.preNav > div{
  padding: 0 4vmax;
  display: flex;
  align-items: center;

}
.preNav>div svg{
  fill: rgb(180, 180,180);
}
.preNav > div >a >span{
  color: rgba(180,180 ,180,0.644);
  font-size: 0.8vmax;
  font-weight: 100;
 
}
.preNav > div svg:hover{
fill: white;
}
.preNav > div >a {
  color: rgba(180,180 ,180,0.644);
  font-size: 1vmax;
  font-weight: 300;
  margin: 1vmax;
  text-decoration: none;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}